.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
  position: relative;
}
.dimensions-info {
  display: flex;
  align-items: center;
  justify-content: left;
  font-size: 20px;
  height: 50px;
  color: #fff;
  background-color: #222;
}
#div-canvas {
  width: 1000px;
  height: 500px;
  position: relative;
  margin: auto auto;
  margin: 50px;
}
.canvas-reference {
  position: absolute;
  width: 100%;
  height: 100%;
}
.canvas-container {
  width: 100vw;
  height: calc(100vh -120px);
  flex: 1;
  background-color: #111;
  overflow: auto;
}
.options {
  height: 70px;
  background-color: #222;
  display: flex;
  align-items: center;
}
.dimensions-info span:first-child {
  margin-right: 10px;
  margin-left: 50px;
}
input {
  margin-left: 20px;
}

.button {
  cursor: pointer;
  background-color: #f00;
  color: #000;
  font-weight: bold;
  padding: 5px 10px;
  margin-left: 20px;
  border-radius: 10px;
  border: 2px solid #000;
  outline: none;
}

#canvas {
  border: 1px solid #888;
  background-color: #000;
}
